:root {
  --primary-bg: #2c3947;
}

body {
  background: var(--primary-bg);
  margin: 0 auto;
  width: 80%;
  border-style: solid;
}

#head {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  height: 250px;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  gap: 3rem;
}

.header {
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 6rem;
}

.texts h1 {
  color: red;
  font-size: 7rem;
}

.texts h5 {
  color: white;
  font-size: 2rem;
  padding-left: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  padding: inherit;
  margin: 0 auto;
  height: 450px;
  row-gap: 30px;
}

.container .left-container {
  background: rgb(233, 170, 82);
  width: 50%;
  margin: 0 auto;
  padding: 0.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-container .im {
  padding: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left-container .if {
  text-align: center;
  color: white;
  font-size: 1rem;
}

.container .right-container {
  background: skyblue;
  width: 50%;
  margin: 0 auto;
  padding: 0.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 1rem;
}

.right-container .im {
  gap: 1rem;
  padding: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(226, 74, 74);
}

.container-fluid .upper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 0rem 0rem;
}

.cond {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: whitesmoke;
}

.cause {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
}

.cause .icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 2rem;
  gap: 1rem;

}

.risk{
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  font-size: 1.9rem;
  text-align: justify;
}

.container-3{
  width: 100%;
  margin: 0 auto;
  background: skyblue;
}